
body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

li {
  list-style-type: none;
}

div.button {
  display: inline-block;
  padding: 6px;
  border: 1px solid black;
}
.button:hover {
  cursor: pointer;
}


div#room {
  position: relative;
}

#visuals li:first-child {
  margin-bottom: 24px;
}

#sound-line1, #sound-line2 {
  position: relative;
  width: 0;
  height: 4px;
  transition: width 4.22s linear;
  background-color: navy;
}

.marker {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: none;
  top: -6px;
  background-color: navy;
}
.marker.first {
  background-color: skyblue;
}
.marker.mymarker {
  background-color: red;
}

div#bells {
  overflow: hidden;
  width: 600px;
  height: 600px;
  -webkit-perspective: 400px;
  -webkit-perspective-origin: 63% 40%;
  position: relative;
}

div.chute {
  -webkit-transform-style: preserve-3d;
  position: absolute;
  margin: 10px;
  width: 60px;
  height: 300px;
  -webkit-transition: transform 0.6s linear, left 0.6s linear;
}

.bellnum {
  position: absolute;
  top: 100px;
}




